<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC44A9B41F64CD8C00AC0EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC44A9C81F64CD8D00AC0EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC44A9D31F64CD8D00AC0EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
